{% extends "base.html" %}
{% load static %}

{% block title_name %}
Удаление коллекции
{% endblock %}

{% block content %}
        <div class="content-box">
            <h1>Удалить коллекцию «{{ collection.name }}»</h1>
            <p style="margin-bottom: 20px;">Вы уверены, что хотите удалить эту коллекцию? Цветы, входящие в неё, останутся, но потеряют привязку к этой коллекции.</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-delete">Удалить</button>
                <a href="{% url 'categories_view' %}" class="btn btn-back">Отмена</a>
            </form>
        </div>
{% endblock %}