{% extends "base.html" %}
{% load static %}

{% block title_name %}
Удаление поставщика
{% endblock %}

{% block content %}
        <div class="content-box">
            <h1>Удалить поставщика «{{ supplier.name }}»</h1>
            <p style="margin-bottom: 20px;">Вы уверены, что хотите удалить этого поставщика? Связанные с ним цветы останутся без поставщика.</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-delete">Удалить</button>
                <a href="{% url 'suppliers_list' %}" class="btn btn-back">Отмена</a>
            </form>
        </div>
{% endblock %}