{% extends "base.html" %}
{% load static %}

{% block title_name %}
{% if form.instance.pk %}Редактирование{% else %}Добавление{% endif %} поставщика
{% endblock %}

{% block content %}
        <div class="content-box">
            <h1>{% if form.instance.pk %}Редактировать поставщика{% else %}Добавить нового поставщика{% endif %}</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn">Сохранить</button>
            </form>
            <br>
            <a href="{% url 'suppliers_list' %}" class="btn btn-back">← Вернуться к списку поставщиков</a>
        </div>
{% endblock %}
