{% extends "base.html" %}
{% load static %}
{% block title_name %}
О магазине
{% endblock %}
{% block content %}
        <div class="content-box">
            <h1>О магазине</h1>
            <p>Цветочный магазин «Бутон» работает с 2018 года. Мы доставляем свежие цветы по городу и области, собираем букеты любой сложности.</p>
            <h2>Наши контакты</h2>
            <p>Телефон: +7 (999) 123-45-67</p>
            <p>Email: hello@buton-flowers.ru</p>
            <p>Адрес: г. Москва, ул. Цветочная, 15</p>
            <p>Режим работы: ежедневно с 8:00 до 22:00</p>
        </div>
{% endblock %}