<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block title_name %}
Удаление товара
{% endblock %}

{% block content %}
        <div class="content-box">
            <h1>Удалить позицию «{{ flowers.name }}»</h1>
            <p style="margin-bottom: 20px;">Вы уверены, что хотите удалить этот товар? Это действие нельзя отменить.</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-delete">Удалить</button>
                <a href="{% url 'all_products_view' %}" class="btn btn-back">Отмена</a>
            </form>
        </div>
{% endblock %}