{% extends "base.html" %}
{% load static %}

{% block title_name %}
{{ collection.name }}
{% endblock %}

{% block content %}
        <div class="content-box">
            <h1>{{ collection.name }}</h1>
            <div class="detail-info">
                {% if collection.photo %}
                    <img src="{{ collection.photo.url }}" alt="{{ collection.name }}" style="max-width: 100%; border-radius: 12px; margin-bottom: 16px;">
                {% endif %}
                {% if collection.description %}
                    <p><strong>Описание:</strong> {{ collection.description }}</p>
                {% else %}
                    <p>Описание отсутствует.</p>
                {% endif %}
            </div>
            <br>
            <a href="{% url 'categories_view' %}" class="btn btn-back">← Вернуться к списку коллекций</a>
        </div>
{% endblock %}