{% extends "base.html" %}
{% load static %}

{% block title_name %}
{{ promocode.code }}
{% endblock %}

{% block content %}
        <div class="content-box">
            <h1>Промокод «{{ promocode.code }}»</h1>
            <div class="detail-info">
                <p><strong>Скидка:</strong> {{ promocode.discount_percent }}%</p>
                <p><strong>Действует с:</strong> {{ promocode.valid_from|date:"d.m.Y H:i" }}</p>
                <p><strong>Действует по:</strong> {{ promocode.valid_to|date:"d.m.Y H:i" }}</p>
                <p><strong>Статус:</strong> {% if promocode.is_active %}✅ Активен{% else %}❌ Неактивен{% endif %}</p>
            </div>
            <br>
            <a href="{% url 'promocodes_list' %}" class="btn btn-back">← Вернуться к списку промокодов</a>
        </div>
{% endblock %}