{% extends "base.html" %}
{% load static %}

{% block title_name %}
{% if form.instance.pk %}Редактирование{% else %}Добавление{% endif %} промокода
{% endblock %}

{% block content %}
        <div class="content-box">
            <h1>{% if form.instance.pk %}Редактировать промокод{% else %}Добавить новый промокод{% endif %}</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn">Сохранить</button>
            </form>
            <br>
            <a href="{% url 'promocodes_list' %}" class="btn btn-back">← Вернуться к списку промокодов</a>
        </div>
{% endblock %}