{% extends "base.html" %}
{% load static %}

{% block title_name %}
{{ category.name }}
{% endblock %}

{% block content %}
        <div class="content-box">
            <h1>{{ category.name }}</h1>
            <div class="detail-info">
                {% if category.description %}
                    <p><strong>Описание:</strong> {{ category.description }}</p>
                {% else %}
                    <p>Описание отсутствует.</p>
                {% endif %}
            </div>
            <br>
            <a href="{% url 'categories_view' %}" class="btn btn-back">← Вернуться к списку категорий</a>
        </div>
{% endblock %}