<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block title_name %}
{% if form.instance.pk %}Редактирование{% else %}Добавление{% endif %} категории
{% endblock %}

{% block content %}
        <div class="content-box">
            <h1>{% if form.instance.pk %}Редактировать категорию{% else %}Добавить новую категорию{% endif %}</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn">Сохранить</button>
            </form>
            <br>
            <a href="{% url 'categories_view' %}" class="btn btn-back">← Вернуться к списку категорий</a>
        </div>
{% endblock %}